# Ignorer les fichiers générés par l'IDE
.idea/
*.iml

# Ignorer les fichiers de build générés
target/
build/
bin/

# Ignorer les fichiers de configuration
.classpath
.project
.settings/

# Ignorer les fichiers de sauvegarde
*~
*.swp
*.bak
*.orig

# Ignorer les fichiers de logs
log/
logs/
*.log

# Ignorer les fichiers temporaires
tmp/
temp/
*.tmp

# Ignorer les fichiers de dépendances Maven
/dependency-reduced-pom.xml
/mvnw.cmd
/mvnw
/.mvn/
